<!DOCTYPE html>
<html>
<head>
  <title>Your Page Title</title>
  <!-- Include jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <!-- Include your JavaScript file -->
  <script src="your-script.js"></script>
</head>
<body>
  <!-- Your page content -->

  <h1>WaitingRoom#index</h1>

  <h2>Logged in as <%= current_user.email %></h2>
    <h2>Waiting_list <%= @waiting_list.count %></h2>
</body>
</html>
