<h2>Waiting List</h2>
<div data-controller="waiting-list">
  <h2>Waiting_list <span data-waiting-list-target="waitingListCount"><%= @waiting_list_count %></span></h2>

  <table>
    <thead>
      <tr>
        <th>User ID</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <% @waiting_list.each do |id, email| %>
        <tr>
          <td><%= id %></td>
          <td><%= email %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <button data-action="click->waiting-list#clearWaitingList">Clear Waiting List</button>
  </div>
</div>
