<div data-controller="game">
  <h2>Waiting_list count: <span data-game-target="waitingListCount"><%= @waiting_list_count %></span></h2>

  <table>
    <thead>
      <tr>
        <th>User ID</th>
        <th>Email</th>
      </tr>
    </thead>

    <tbody>
      <% @waiting_list.each do |id, email| %>
        <tr>
          <td><%= id %></td>
          <td><%= email %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

    <button data-action="click->game#clearWaitingList">Clear Waiting List</button>
<button data-controller="game" data-action="click->game#start">Start Game Session</button>

  </div>
</div>
